/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap'); */

.more-projects-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10vw;
  padding-top: 5vh;
  background-color: white;
  height: 100vh;
  width: 100%;
  border-bottom: 5px dashed black;
  font-family: "Inconsolata", serif, serif;
}

.more-projects-container .more-projects-content {
  color: black;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.more-projects-container .more-projects-content .more-projects-title {
  font-size: 5vh;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: orientation both;
  animation-timeline: view(90% 50%);
  
}

@keyframes orientation {
  from{
    transform: translateX(-800px);
    opacity: 0;

  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.more-projects-container .more-projects-content .more-projects-title .pro{
  font-size: 20vh;
  writing-mode: vertical-rl;
  color: rgb(90, 90, 90);
  border-right: 5px solid black;
}

.more-projects-container .more-projects-content .projects-list {
  list-style: none;
  padding: 0;
}

.more-projects-container .more-projects-content .projects-list .project-item {
  font-size: 15vh;
  font-weight: 600;
  padding: 15px 0;
  transition: .5s all ease ;
  animation: showCase linear both;
  animation-timeline: view();
}
@keyframes showCase {
  0%{
    filter: blur(30px);
  }  
  45%, 55%{
    filter: blur(0px);
    scale: 1.5;
  }
  100%{
    filter: blur(30px);
  }  
}

.more-projects-container .more-projects-content .projects-list .project-item:hover {
    cursor: pointer;
    font-size: 15.2vh;
    transition: .5s all ease ;

}

.more-projects-container .more-projects-content .projects-list a {
    text-decoration: none;
    color: inherit;

}

